<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
    <a mat-button-toggle href="/monitoreo/estado-actual-de-la-sequia/tiempoNoLLuvia">¿Hace cuanto que no llueve?</a>
    <a mat-button-toggle href="/monitoreo/estado-actual-de-la-sequia/areaEnSequia">¿cuanta area esta en sequia?</a>
    <a mat-button-toggle href="/monitoreo/estado-actual-de-la-sequia/otro">otro mapa</a>
</mat-button-toggle-group>
<hr>
<ng-container *ngIf="id=='tiempoNoLLuvia'">
    <app-home-map [tipoMapa]="id"></app-home-map>
</ng-container>
<ng-container *ngIf="id!='tiempoNoLLuvia'">
    <p>trae un componente que no es un mapa</p>
</ng-container>